@import-normalize;
@import './employeelist.css';
@import './employee.css';
@import './experiencelist.css';
@import './experience.css';
@import './employeeedit.css';

*{
    box-sizing: border-box;
}

html{
 font-family: 'Arima', sans-serif;
 font-size: 1.2rem;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FCFDFE;
    color: #080706;
}

.mr-1{
    margin-right: 5px;
}

.app__h2{
    font-size: 24px;
    width: 50%;
    text-align: center;
    color: #896E69; 
    border-radius: 5px;
    

}




