.employee{
    padding: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid #A43820;
}

.employee:last-child{
    border-bottom: none;
    padding-bottom: 10px;
}

.employee__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.employee__title{
    margin: 0;
    font-size: 1.5rem;
    color: #500805;
}

.employee__row{
    margin-top:15px;
    border:1px solid #F1DCC9;
    padding: 10px 5px;
    background-color: #F1DCC9;
    box-shadow: 0 0 7px 0 #9F4636;
    border-radius: .3rem;
}

.employee__label{
    font-weight: bold;
    margin-right: 5px;
    font-size: 1.1rem;
    color:#962715 ;
}

.employee__value{
    font-weight: 500;
    color:#1E0000 ;
}

.employee__value--indented{
    margin-top: 10px;
    margin-left: 20px;
}

.employee__hobbies{
    white-space: pre-wrap;
}

