.employee-list{
    width: 50%;
    min-height: 100vh;
    border-right: 1px solid black;
}

.employee-list__add-employee-btn-container{
    text-align: center;
    margin-top: 15px;
}

.btn{
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 1em;
    cursor:pointer;
    border-radius: .5rem;
}

.btn--primary{
    background-color: #cb6d51;
    color:#fff;
}

.btn--primary:hover{
    color: #cb6d51;
    background-color:#000;
    box-shadow: 0 0 10px 0 #000;
}
.btn--danger{
    background-color: #cb6d51;
    color:#fff;
}

.btn--danger:hover{
    color: hsl(10,100%,50%);
    background-color:#000;
    box-shadow: 0 0 10px 0 #000;
}
