.experience-grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    row-gap: 5px;
    column-gap: 20px;
    justify-content: flex-start;
    color: #1E0000;
    
}


@media (max-width:900px){
    .experience-grid{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
}